// Mobile Navigation

.menu-toggle,
.sub-menu-toggle {
	display: block;
}

.menu-toggle {
    @include hamburger($dark-gray, $gray, 44px, 24px, 2px, 3);
	
	@media #{$xlarge-up} {
 		display: none;
		visibility: hidden;
 	}
}

.sub-menu-toggle {
	
	outline: none;
	display: inline-block;
	padding: 10px;
 	position: absolute;
	right: 10px;
	top: 8px;
	cursor: pointer;
	
	&:after {
		content: '';
		display: inline-block;
  		border: solid $dark-gray;
		border-width: 0 2px 2px 0;
		transform: rotate(-45deg);
		width: 10px;
		height: 10px;
 	}
	
	&.activated {
		
		top: 6px;
		
		&:after {
			transform: rotate(45deg);
		}
	}
	
}

.genesis-responsive-menu,
.genesis-responsive-menu .sub-menu {
	display: none;
}


.genesis-responsive-menu .menu li {
	width: auto;
	position: relative;
    margin: 0;

	a {
		display: block;
        margin: 0;
		padding: 15px 50px 15px 10px;
	}

	.sub-menu li a {
		padding-left: 30px;
	}
}


