//  Settings (includes overrides for sass/foundation/settings.scss)
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Off Canvas Menu


// 1. Global
// ---------

$global-font-size: 100%;
$global-width: 1140px;
$global-lineheight: 1.2;

$gold: #b9914b;
$light-gold: #dcc8a5;

$gray: #939393;
$light-gray: #E9E9E9;
$dark-gray: #282828;


$body-background: #FFF;
$body-font-color: #454C54;
$body-font-family: "nimbus-sans",sans-serif;

 
$global-margin: 30px;
$global-padding: 10px;
$global-weight-normal: 300;
$global-weight-bold: 700;
$global-radius: 0;
$global-text-direction: ltr;


// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 980px,
  xlarge: 1024px,
  xxlarge: 1200px,
  xxxlarge: 1366px
);
// must match $breakpoints
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge);


// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12; // usually 12
$grid-column-gutter: (
  small: 20px,
  medium: 20px
);
$grid-column-align-edge: true;
$block-grid-max: 8;


// 4. Base Typography
// ---------

$header-font-family: "franklin-gothic-urw-comp",sans-serif;  
$header-font-weight: 400;
$header-font-style: normal;

/// Styles for headings at various screen sizes. Each key is a breakpoint, and each value is a map of heading styles.
/// @type Map
$header-styles: (
  small: (
    'h1': ('font-size': 40),
    'h2': ('font-size': 36),
    'h3': ('font-size': 32),
    'h4': ('font-size': 28),
    'h5': ('font-size': 22),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 56),
    'h2': ('font-size': 44),
    'h3': ('font-size': 36),
    'h4': ('font-size': 28),
    'h5': ('font-size': 22),
    'h6': ('font-size': 16),
  ),
) !default;

$header-color: $dark-gray;
$header-lineheight: 1.33;
$header-margin-bottom: 30px;
$small-font-size: 80%;
$header-small-font-color: $dark-gray;

$paragraph-font-family: $body-font-family;
$paragraph-font-style: normal;
$paragraph-font-weight: 300;
$paragraph-font-size: 18px;
$paragraph-line-height: 22/18;
$paragraph-font-color: $dark-gray;
$paragraph-margin-bottom: 24px;

$anchor-color: $gold;
$anchor-color-hover: $light-gold;
