/* CSS Document */

.section-past-programming {
 
    .column {
        
        margin-bottom: 45px;
        
        img {
            border: 1px solid $light-gray;
            margin-bottom: 23px;   
        }
        
        h5 {
            @include letter-spacing(100);   
            @include heading-bottom-border;
        }
     
        h5 a {
            color: $dark-gray;    
        }
        
        p {
            font-size: 14px;  
            line-height: (18/14);
            text-transform: uppercase;  
        }
        
    }
    
}