// Blog

.blog {
 
    .content-area {
        padding-bottom: 44px;   
    }
 
    article.type-post {
        
        margin-bottom: $global-margin/2;
     
        .thumbnail {
            display: block;
            width: 100%;
            height: 208px;
            background-size: cover;
            background-position: center;
        }
        
        h4 {
            margin: 18px auto 5px;
            @include heading-bottom-border;
            
            a {
            color: $dark-gray;   
            
            &:hover {
                color: $gray;   
            }
        }
        }
        
        p {
            font-weight: 300;
            font-size: 14px;
            @include letter-spacing(100); 
            text-transform: uppercase; 
            margin-bottom: 15px;  
        }
    
        
        .post-categories {
            
            position: relative;
                    
            &:before {
              content: '';
              width: 1px;
              height: 14px;
              margin: 0 10px;
              background: $dark-gray;
              display: inline-block;
              position: relative;
              top: 2px;
            }
            
            a {
                color: $dark-gray;  
                margin-right: 10px;  
                
                &:hover {
                    color: $gray;   
                }
            }
        }
        
        .more {
            font-size: 16px;
            font-weight: normal;   
        }
        
    }
    
    .view-more-button {
        margin: 40px auto 0;   
    }
    
}


.single-post {
    .content-area {
        padding-bottom: 44px;   
    }
    
    .entry-header {
        
        h2 {
            position: relative;
            margin-bottom: 30px;
            
            &:after {
                content: '';
                display: block;
                background-color: $gold;
                width: 260px;  
                height: 1px;
                margin: 15px 0 0;       
            }
            
            &:first-child {
                margin-top: -10px;   
            }
        }
        
        .post-meta {
            text-transform: uppercase; 
            margin-bottom: 40px;  
        }
    
    }
    
    .entry-content {
     
        img {
            width: 100%;   
        }

        
        
    }
    
    .post-categories {
        
        position: relative;
                
        &:before {
          content: '';
          width: 1px;
          height: 18px;
          margin: 0 10px;
          background: $dark-gray;
          display: inline-block;
          position: relative;
          top: 2px;
        }
        
        a {
            color: $dark-gray;  
            margin-right: 10px;  
            
            &:hover {
                color: $gray;   
            }
        }
    }
    
    
    .nav-links {
        padding-top: 40px;
        margin-bottom: 44px;
        
        > div {
            margin-bottom: 30px;   
        }
        
        a {
            @include button;   
            background: #fff;
            border: 1px solid $gold;
            color: $gold;
            text-align: center;
            width: 100%;
            
            @include breakpoint(medium) {
                min-width: 240px;
            }
            
            &:hover {
                border-color: $light-gold;
                color: $light-gold;  
            }
        }
        
        @include breakpoint(medium) {
            .nav-previous {
                float: left;
            }
            
            .nav-next {
                float: right;
            }
        }
        
        @include breakpoint(xxlarge) {
            .nav-previous {
                position: relative;
                left: -100px;
            }
            
            .nav-next {
                position: relative;
                right: -100px;
            }
        }
    }
}