/* CSS Document */

.add-to-calendar {
	width: 220px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	li {
		padding: 10px;
		margin: 0;
	}

	a {
		color: $dark-gray !important;
		display: block;
		font-size: 15px;
	}

}

.tribe-events-before-html {
	padding-top: 44px;
}

body .tribe-events-notices {
	background: $light-gray;
	border-radius: none;
	border: none;
	color: $gray;
	margin: 26px 0 18px;
	padding: 8px 35px 8px 14px;
	text-shadow: none;
}

.page-hero .entry-header {
	display: block !important;
}

// Hide the view options
#tribe-bar-form #tribe-bar-views {
	//display: none!important;
}

#tribe-bar-form #tribe-bar-views + .tribe-bar-filters {
	//left: auto;
	//right: auto;
	//width: 100%;
}

.tribe-events-filters-group-heading {
	font-size: 16px !important;
}

.tribe-bar-submit {
	float: right;
}

body #tribe-events .tribe-events-button,
.tribe-events-button {
	background: $gold !important;
	letter-spacing: 1.2px !important;
	text-transform: uppercase;
	text-decoration: none !important;
	font-weight: 300 !important;
	font-family: "nimbus-sans", sans-serif;

	&:hover {
		background: $light-gold !important;
	}
}

.tribe-bar-filters .tribe-events-button {
	display: inline-block;
	padding: 10px 8px 11px !important;
	text-align: center !important;
	font-size: 18px !important;
	line-height: (28/18) !important;
	transition: ease all 0.3s !important;
}

.events-list .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.tribe-events-day .tribe-events-loop {
	max-width: 100%;
	margin: 0 auto;
}

#tribe-bar-form {
	background: #fff;
}

#tribe_events_filter_item_eventcategory {
	//display: none!important;
}

.tribe-bar-collapse #tribe-bar-collapse-toggle {
	// width: 100%!important;
}

.events-archive .entry-content,
.events-archive .entry-header {
	width: 100% !important;
}

.tribe-events-filters-horizontal .tribe-events-filters-content {
	background: $light-gray !important;
	border: 1px solid $light-gray !important;
}

@media only screen and (min-width: 767px) {
	#tribe_events_filters_wrapper.tribe-events-filters-horizontal,
	.tribe-filters-closed
		#tribe_events_filters_wrapper.tribe-events-filters-horizontal {
		background: $light-gray !important;
	}
}

.post-type-archive-tribe_events .type-tribe_events {
	border-bottom: 1px solid $light-gray;
	margin-bottom: 26px;
	padding-bottom: 6px;

	&:first-of-type {
		margin-top: 26px;
	}
}

@media only screen and (max-width: 768px) {
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next,
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous,
	#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next,
	#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous {
		box-sizing: border-box;
		display: block;
		margin: 0 0 20px;
		width: 50% !important;
	}
}

@media only screen and (max-width: 640px) {
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next,
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous,
	#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next,
	#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous {
		box-sizing: border-box;
		display: block;
		margin: 0 0 20px;
		width: 100% !important;
	}
}

#tribe-events-footer:before,
#tribe-events-header:before,
#tribe-events-footer:after,
#tribe-events-header:after {
	display: none !important;
}

.events-list #tribe-events-footer,
.single-tribe_events #tribe-events-footer,
.tribe-events-day #tribe-events-footer,
.tribe-events-map #tribe-events-footer,
.tribe-events-photo #tribe-events-footer {
	border-top: none;
	padding-top: 2em;
}

.post-type-archive-tribe_events {
	.event-details {
		.event-meta > * {
			margin-bottom: 20px;
		}

		h5 {
			font-size: 17px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 20px;
			@include letter-spacing(75);

			a {
				color: $dark-gray;

				&:hover {
					color: $gray;
				}
			}
		}

		.event-venue-time {
			font-size: 14px;
			display: block;
			margin-bottom: 10px;

			span {
				display: block;
			}
		}

		.event-price {
			font-size: 14px;
			text-transform: capitalize;
			display: block;
			margin-bottom: 10px;
		}

		.event-icons {
			margin-bottom: 10px;

			i,
			button {
				display: inline-block;

				&:not(:first-child) {
					margin-left: 15px;
				}
			}

			button {
				position: relative;
			}
		}

		.event-buttons {
			.button {
				@include button;
				background: #fff;
				border: 1px solid $gold;
				color: $gold;
				font-weight: 300;
				font-size: 14px;
				margin-bottom: 20px;
				min-width: 140px;
				
				&:hover {
					border-color: $light-gold;
					color: $light-gold;  
				}
			 
				
				&.secondary {
					background: $gold; 
					border: 1px solid $gold;
					color: #fff;
					
					&:hover {
						background: $light-gold; 
						border-color: $light-gold;
						color: #fff;
					}   
				}

				

				&.secondary {
					margin-left: 10px;
				}
			}
		}

		@include breakpoint(medium) {
			
			.event-meta {

				> div {
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;

					h5 {
						width: 40% !important;
					}

					> h5,
					> span:not(:empty) {
						padding-right: 20px;
					}
				}
			}

			.event-buttons {
				.secondary {
					margin-left: 20px;
				}
			}
		}

		@include breakpoint(large) {
			/* We first create a flex layout context */
			display: flex;

			justify-content: space-between;

			align-items: center;

			.event-meta {
				flex: 1 1 auto;

				> div {
					display: flex;
					flex-flow: row wrap;
					// justify-content: space-between;
					align-items: center;

					> h5,
					> span {
						margin-bottom: 0;
						padding-right: 3% !important;
					}
				}

				h5 {
					width: 30% !important;

					@include breakpoint(xlarge) {
						width: 35% !important;
					}
				}


				.event-venue {
					margin-bottom: 0;
				}

				.event-time {
					margin-bottom: 0;
				}

				.event-price {
					margin-left: auto;
					min-width: 100px;
					white-space: nowrap;
				}

				.event-icons {
					width: auto;

					i,
					button {
						display: inline-block;

						&:not(:first-child) {
							margin-left: 12px;
						}
					}
				}
			}

			.event-buttons {
				flex: 0 0 300px;

				.secondary {
					margin-left: 20px;
				}
			}
		}
	}

	h4.tribe-events-page-title {
		text-align: left !important;
		border-bottom: 1px solid $gold;
		padding-bottom: 20px;
		margin-bottom: 0;

		&.month {
			font-size: rem-calc(36px);
			border-bottom: none;
		}
	}

	.tribe-events-sub-nav a {
		@include button;
		background: #fff;
		border: 1px solid $gold;
		color: $gold;
		text-align: center;
		width: 100%;
		font-size: 14px;
		min-width: inherit;
		font-weight: 300;

		@include breakpoint(medium) {
			min-width: 240px;
			width: auto;
			font-size: 16px;
		}

		&:hover {
			border-color: $light-gold;
			color: $light-gold;
		}
	}
}

// Week view

.post-type-archive-tribe_events .tribe-grid {
	padding: 40px 0;

	.type-tribe_events {
		margin-top: 26px;
	}

	> h4 {
		text-align: left;
		border-bottom: 1px solid $gold;
		padding-bottom: 20px;
		margin-bottom: 0;
	}
}

.single-tribe_events {
	#tribe-events-content {
		margin-bottom: 0 !important;
	}

	.go-back {
		font-size: 16px;
		font-weight: normal;
		text-transform: uppercase;

		&:hover {
			.fa {
				color: $light-gold;
			}
		}
	}

	.tribe-events-content {
		padding: 44px 0 0;

		p + hr {
			margin-top: 45px;
		}
	}

	.tribe-events-cal-links {
		margin-bottom: 44px !important;
	}

	@include breakpoint(large) {
		.entry-content .columns:first-child {
			padding-left: rem-calc(
				map-get($grid-column-gutter, medium) + $global-padding
			);
		}
		.entry-content .columns:last-child {
			padding-left: rem-calc(map-get($grid-column-gutter, medium) / 2);
			padding-right: rem-calc(
				map-get($grid-column-gutter, medium) + $global-padding
			);
		}
	}

	.entry-content {
		#single-tribe-events-header {
			h2 {
				margin-bottom: 5px;

				&:after {
					display: none;
				}
			}

			h4,
			h5,
			h6 {
				@include letter-spacing(100);
				text-transform: uppercase;
				line-height: 30px;
				margin-bottom: 5px;
			}

			h6 {
				color: $gold;
				font-family: "nimbus-sans", sans-serif;
			}

			h6 {
				font-size: 18px;
			}
      
      .showpass-cart-button {
          cursor: pointer;
          margin-left: 15px;

          span {
            padding-left: 10px;
          }
      }
		}

		hr {
			width: 124px;
		}

		.event-meta {
			margin-bottom: 22px;

			p {
				font-size: 18px;
			}

			.event-date {
				display: block;
			}

			.event-venue {
				display: block;
			}

			.event-time-price {
				display: block;

				.event-price {
					position: relative;

					&:before {
						content: "";
						width: 1px;
						height: 14px;
						margin: 0 10px;
						background: $dark-gray;
						display: inline-block;
						position: relative;
						top: 2px;
					}
				}
			}
		}
	}

	.event-thumbnail {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: 44px;

		img {
			width: 100%;
			margin-bottom: 0;
		}

		.event-date {
			position: absolute;
			z-index: 2;
			color: #fff;
			font-family: "nimbus-sans";
			font-weight: 700;
			font-style: normal;
			font-size: 16px;
			line-height: 1;
			border: 2px solid #fff;
			width: 80px;
			height: 80px;
			text-align: center;
			text-transform: uppercase;
			left: 23px;
			top: 23px;
			padding-top: 7px;
			i {
				font-size: 53px;
				line-height: 1;
				font-style: normal;
				display: block;
			}

			&.dark {
				border-color: $dark-gray;
				color: $dark-gray;
			}
		}

		.thumbnail {
			position: absolute;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
		}
	}

	.youtube-video {
		margin-bottom: 44px;
	}

	.spotify-embed {
		margin-bottom: 44px;

		iframe {
			display: block;
			transition: opacity 0.125s;
			.js & {
				opacity: 0;

				&.loaded {
					opacity: 1;
				}
			}
		}
	}

	.related-events {
		margin-bottom: -20px;

		.event-details {
			h5 {
				margin-bottom: 10px;
			}

			p {
				font-weight: 300;
				font-size: 13px;
				@include letter-spacing(100);
				text-transform: uppercase;

				.event-venue {
					padding-top: 1px;
				}
			}

			.event-date {
				display: block;
			}

			.event-venue {
				display: block;
			}

			.event-time-price {
				display: block;

				.event-price {
					position: relative;

					&:before {
						content: "";
						width: 1px;
						height: 14px;
						margin: 0 10px;
						background: $dark-gray;
						display: inline-block;
						position: relative;
						top: 2px;
					}
				}
			}
		}
	}
}

.share-icons {
	@include list-reset;
	margin-bottom: 30px !important;

	li {
		display: inline-block;
		margin-right: 22px;

		.fa {
			font-size: 36px;
		}

		&.facebook {
			.fa {
				color: #3b5997;
			}
		}

		&.twitter {
			.fa {
				color: #1da0f1;
			}
		}

		&.share {
			.fa {
				color: #282828;
			}
		}
	}
}

#tribe-events .tribe-events-content p,
.tribe-events-after-html p,
.tribe-events-before-html p {
	line-height: 1.7;
	margin: 0 0 $global-margin;
}

.tribe-common .tribe-events-list-separator-month,
.tribe-common .tribe-events-calendar-list__month-separator {
	background-color: transparent;
	padding: 0;
	border-bottom: 1px solid $gold;
	padding-bottom: 20px;
	margin-bottom: 26px;
	font-family: $header-font-family;
	text-align: left !important;
	color: $header-color;
	line-height: 1.2;
	text-transform: uppercase;

	&:first-child {
		margin-bottom: 0;
	}

	&:after {
		display: none !important;
	}

	span,
	time {
		background-color: transparent;
		padding: 0;
		font-size: 28px;
		text-transform: uppercase;
		@include letter-spacing(75);
		font-weight: 400;
	}
}

#tribe-geo-results h2.tribe-events-page-title,
h2.tribe-events-page-title {
	font-size: rem-calc(36px);
	font-weight: 400;
	text-align: left;
}

@media only screen and (min-width: 768px) {
	.tribe_events_filter_item {
		padding-right: 50px;
	}
}

.tribe-events-calendar-day {
	article:last-child {
		border-bottom: 0!important;
	}
}